<body class="compliments"></body> <h1>{{name.name}}</h1>
<h2>{{compliment.comp}}</h2>

<form  class="comp" action="./compliment" method="post" >
    <input type="submit" value="Give me another one!"/>
</form>
</body>
