
<p>Disclaimer: Proceed at your own risk!</p>
<form class="form" action="./questions" method="post">
  <label for="name" class="form-item">
    <input type="text" name="name" placeholder="Enter your name here!">
  </label>
  <input type="submit" name="" value="Submit">
</form>

