<p>Enter name here:</p>

<form class="form" action="./questions" method="post">
  <label for="name" class="form-item">
    Name:
    <input type="text" name="name" value="name">
  </label>
  <input type="submit" name="" value="Submit">
</form>

<p>Disclaimer: Proceed at your own risk!</p>