<h1>Hi {{name}}!</h1>

<form class="comp" action="./compliment" method="post" >
    <input type="submit" value="Compliment" />
</form>

<form action="./insult" method="post" >
    <input type="submit" value="Insult" />
</form>